<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trabalho Faculdade</title>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<style>

body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

font-family:'Montserrat', sans-serif;

background: linear-gradient(135deg, #2b0057, #5b00b3, #9a00ff);
color:white;
}

/* Bem vindo no centro */

h1{
font-size:60px;
text-shadow:
0 0 10px #bb00ff,
0 0 20px #bb00ff,
0 0 40px #bb00ff;
}

/* mensagens do lado esquerdo */

.mensagens{
position:absolute;
left:40px;
top:200px;

font-size:18px;
line-height:35px;
}

</style>

</head>

<body>

<h1>Bem Vindo</h1>

<p>Trabalho – Professor Vandrei</p>

<div class="mensagens">
<p>• João Vitor Simão</p>
<p>• Projeto feito com Node.js</p>
<p>• Utilizando Express</p>
<p>• Handlebars</p>
<p>• Curso ADS</p>
</div>

</body>
</html>